@using MoiteRecepti2.Common
@model MoiteRecepti2.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <div class="col-md-4 offset-md-4">
        <ul class="list-group">
            <li class="list-group-item bg-light">Recipes: @Model.RecipesCount</li>
            <li class="list-group-item bg-info">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-secondary">Images: @Model.ImagesCount</li>
            <li class="list-group-item bg-success">Ingredients: @Model.IngredientsCount</li>
        </ul>
    </div>
</div>
